body {
background-color:#FFFFFF;
	
color:#0084F; 
/*font-family: arial, helvetica, sans-serif;*/

font-family: "Times New Roman", Times, serif;
}



ol {list-style-type: lower-alpha;
padding: 5em;
    
}