body {
/*background-color:#007CFF;*/

	
color:#FFFFFF; 
/*font-family: arial, helvetica, sans-serif;*/

font-family: "Times New Roman", Times, serif;
}

h1.index{
    position:relative;
    margin-left: -90px;
}

h1.about{
    position:relative;
    margin-left: 30px;
}

h1.about2{
    position: relative;
    /*margin-left: 50px;*/
    text-align: center;
    margin-top: 300px;
}

h1.network{
    text-align: center;
}

.parent{
	
}
.child-one{
	position:relative;
	left: 50px;
}
.child-two{
	position: relative;
	left: 50px;
	
}
.child-three{
	position: relative;
	left: 50px;
	
}
.child-four{
	position: relative;
	left: 50px;
}
.child-five{
	position: relative;
	left: 100px;
}
.child-six{
	position: relative;
	left: 100px;
}
.child-seven{
	position: relative;
	left: 100px;
}
.child-eight{
	position:relative;
	left: 50px;
}
.child-nine{
	position:relative;
	left: 50px;
}
.child-ten{
	position:relative;
	left: 50px;
}
.child-eleven{
	position:relative;
	left: 50px;
}
.child-twelve{
	position:relative;
	left: 50px;
}
.child-thirteen{
	position:relative;
	left: 50px;
}
.child-fourteen{
	position:relative;
	left: 100px;
}
.child-fifteen{
	position:relative;
	left: 50px;
}
.child-sixteen{
	position:relative;
	left: 100px;
}
.child-sevetneen{
	position:relative;
	left: 100px;
}
hr.full{
   border: 3px solid white;
   border-radius: 5px;
   margin-right: 10px;
   margin-left: 10px; 
}

hr.about{
   border: 3px solid white;
   border-radius: 5px;
   margin-right: 550px;
   margin-left: 10px;  
}

hr.about2{
   border: 3px solid white;
   border-radius: 5px;
   margin-right: 550px;
   margin-left: 10px; 
   margin-top: 30px;
}

hr.index{
    border: 3px solid white;
    border-radius: 5px;
    margin-right: 510px;
    margin-left: 10px;
}

hr.index2{
    border: 3px solid white;
    border-radius: 5px;
    margin-right: 630px;
    margin-left: -90px;
}

hr.ob{
   border: 3px solid white;
   border-radius: 5px;
   margin-right: 450px;
   margin-left: 10px;  
}

hr.ob2{
   border: 3px solid white;
   border-radius: 5px;
   margin-right: 450px;
   margin-left: 10px; 
   margin-top: 30px;
}

hr.vis{
   border: 3px solid white;
   border-radius: 5px;
   margin-right: 550px;
   margin-left: 10px; 
   margin-bottom: 50px;
}

hr.vis2{
   border: 2px solid white;
   border-radius: 5px;
   margin-right: 1025px;
   margin-left: 25px;  
}

hr.network {
   border: 2px solid white;
   border-radius: 5px;
   margin-right: 500px;
   margin-left: 500px;
}

img{
    margin-top: 20px;
}

/* Styling for the Navigation Bar */
/* * {
    margin: 0;
    padding: 0;  
} */




/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #0054FF;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: White;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: White;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a red background color to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: grey;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: grey;
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
  }
  
  
  
  
#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#charList {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#charList li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#charList li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

#cy {
     width: 65vw;
     height:65vh;
     position:absolute;
     margin-left: 275px;
     margin-top: 25px;
     border-style:double;
     background: grey;
 }

h1.leg {
    margin-left: 60px;
}
 
div.legend {
    margin-left: 1408px;
    margin-top: 200px;
}

.box {
  float: left;
  height: 10px;
  width: 10px;
  margin-right: 5px;
  margin-top: 3px;
  margin-bottom: 15px;
  border: 1px solid black;
  clear: both;
}

.green {
  background-color: green;
}

.purple {
  background-color: purple;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.soraGif{
    width: 100px;
    display: inline-flex;
}

.soraGif img{
    margin: auto 150px;
    margin-top: -200px;
    width: 700px;
    height: 700px;
}

.goofyGif{
    width: 100px;
    display: inline-flex;
}

.goofyGif img{
    margin: auto 950px;
    margin-top: -850px;
    width: 1000px;
    height: 1000px;
}

.donaldGif{
    width: 100px;
    display: inline-flex;
}

.donaldGif img{
    margin: auto 650px;
    margin-top: -1100px;
    width: 1500px;
    height: 1500px;
}

div.container {
    text-align: center;
    display: block;
}

p.khText {
    text-align: center;
    font-size: 20px;
    padding-bottom: 2.5em;
}

img.cc {
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  margin-bottom: -10px;
  width: 5%;
}

footer {
    background-color:#0054FF;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    position: fixed;
}

/* section#graph {
    color:maroon; 
    display: flex; 
    justify-content:flex-start; 
    flex-direction:row;
    padding-top: 5em;
}

section#graph p {
    flex:1;
}

section#graph div#KHGraph {
    flex:3;
    background: white;
}*/

