body {
background-color: /*BurlyWood*/ #00ace6;
color: indigo; 
/*font-family: arial, helvetica, sans-serif;*/

font-family: "Times New Roman", Times, serif;
}



ol {list-style-type: lower-alpha;
padding: 5em;
    
}